@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Press+Start+2P&family=Public+Sans:wght@300&display=swap");

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "Press Start 2P", "cursive";
}
h1,
p {
  margin: 0;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("game-bg-2.avif");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
  padding-top: 2rem;
}
#game {
  margin: 2rem;
  min-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#game div {
  border: 1px solid black;
  min-width: 15rem;
  min-height: 14rem;
  margin: 0.8rem;
  background-image: url("image-signals.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.heading {
  color: white;
  text-align: center;
}

#won-container {
  background: linear-gradient(to right, rgb(4, 21, 79), rgb(137, 155, 211));
  color: white;
  align-self: center;
  border-radius: 0.3rem;
  padding: 1rem;
  font-size: 1.6rem;
  margin: 1rem 0 1rem 0;
  box-shadow: 0.4rem 0.7rem 0.5rem rgb(24, 53, 150);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 35vh;
  gap: 1rem;
}
.alert-container {
  background: linear-gradient(to right, rgb(4, 21, 79), rgb(137, 155, 211));
  color: white;
  align-self: center;
  border-radius: 0.3rem;
  padding: 2rem;
  font-size: 1.6rem;
  margin: 1rem 0 1rem 0;
  box-shadow: 0.4rem 0.7rem 0.5rem rgb(24, 53, 150);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 45vh;
  gap: 1rem;
}

.no-display {
  display: none;
}
.start-game-container {
  background-image: url("./bg-image-7.avif");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  color: white;
}
.start-button {
  background: linear-gradient(to right, rgb(4, 21, 79), rgb(137, 155, 211));
  color: white;
  height: 4rem;
  width: 14rem;
  border: none;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 0rem 0.7rem 0.5rem rgb(24, 53, 150);
  font-family: "Press Start 2P", "cursive";
}
.start-button:hover {
  opacity: 0.8;
}
.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.my-score {
  color: white;
  font-size: 1.5rem;
}
.won-score {
  color: rgb(4, 21, 79);
  font-size: 1.5rem;
  color: white;
}
.number-para {
  font-size: 1.5rem;
}
.welcome-heading {
  font-size: 2rem;
}
.cards-count {
  display: flex;
  gap: 1rem;
}
